.nav-container{
    opacity: 1;
}

.about-main {
    padding-top: 90px;
}

.about-text-container {
    @include textCenter;

    .about-text {
        max-width: 780px;
        padding: 60px 30px;
        
        h1 {
            text-transform: uppercase;
            font-size: 1.6em;
            margin-bottom: 50px;
            font-weight: 800;
            letter-spacing: 2px;
        }
        
        p {
            text-align: justify;
            margin: 20px 0;
            line-height: 1.7em;
            font-weight: 400;
            color: $textLight;
            font-size: 0.8em;
            letter-spacing: 1px;
        }
    }
}

.about-shop-container {
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 0;

    .shop-one, .shop-two {
        min-height: 520px;
        max-width: 550px;
        background-position: center;
        background-size: cover;
        flex: 50%;
        margin: 15px;
        @include textCenter;
    }

    .shop-one {
        background-image: url('/imgs/shop1.jpg');
    }

    .shop-two {
        background-image: url('/imgs/shop2.jpg');
    }

    .shop-link {
        background-color: #000;
        color: #fff;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 1.2em;
        width: 75%;
        padding: 20px 0;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }

    .shop-text {
        flex: 100%;
        @include textCenter;
        padding: 130px 20px;
        font-size: 1.2em;
    }
}

@media (min-width: 760px) {

    .about-text-container {
        padding: 60px 80px;

        .about-text p {
            text-align: center;
            font-size: 1em;
        }

        .about-text h1 {
            font-size: 1.75em;
        }
    }
}