.socials {
    background: $bgLight;
    padding-bottom: 50px;
}

.socials-text {
    @include textCenter;
    color: $textDark;
    padding: 50px;

    h2 {
        margin-bottom: 25px;
        font-size: 1.3em;
        font-weight: 800;
        letter-spacing: 3px;
    }
    p {
        font-size: 0.8em;
        line-height: 2em;
    }
}

.socials-imgs {
    display: flex;
    padding: 10px;
    overflow-x: auto;

    .social-img {
        min-width: 50%;
        background-size: cover;
        background-position: center;
        margin: 10px;
        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }
}

@media (min-width: 600px) {
    .socials-imgs .social-img {
        min-width: 45%;
    }
}

@media (min-width: 750px) {
    .socials-imgs .social-img {
        min-width: 35%;
    }
}

@media (min-width: 900px) {
    .socials-imgs .social-img {
        min-width: 30%;
    }
}

@media (min-width: 1000px) {
    .socials-imgs {
        flex-wrap: wrap;
        justify-content: center;
    }
    .socials-imgs .social-img {
        flex-basis: 14%;
        min-width: auto;
    }
}

@media (min-width: 1250px) {
    .social-img {
        flex-basis: 15%;
    }
}